<<<<<<< HEAD
<h1>Help Pages</h1>
=======
<h1>Help Page</h1>
>>>>>>> static-pages
<p>Get help on Ruby on Rails Tutorial at the <a href="http://railstutorial.org/help">Ruby on Rails Tutorial help page</a>. 
Tp get help on this sample app, see the  <a href="http://railstutorial.org/book">Ruby on Rails Tutorial book</a>. 
</p>
